/* =Our Team
------------ */
.team_member {
  text-align: center;
  background-color: transparent !important;
  background: none !important;
  color: #333333;
  padding: 10px;
  transition: all 500ms linear;
  border-radius: 6px;
}

footer {
  background: none #78ab36;
}

.biotic-green {
    background-color: #78ab36 !important;
}

#toTop {
  background: url(../images/ui.totop.png) no-repeat left top;
}
#toTopHover {
  background: url(../images/ui.totop.png) no-repeat left -51px;
}

#footer_teasers_wrapper .footer_teaser p {
    font-size: 13px;
    color: #ffffff;
    font-weight: 300;
}

.copyright {
    border-top: solid 1px #ffffff;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    color: #ffffff;
    font-size: 13px;
}

.twitter_feed_wrapper {
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    margin-top: 48px;
}

.footer_social a:link,
.footer_social a:visited {
  color: #ffffff;
}

.footer_social a:hover,
.footer_social a:active {
  color: #0067a6;
  text-decoration: none;
  background-color: none;
}

.service_teaser.inverted {
  border-radius: 6px 6px 6px 6px;
  color: #ffffff;
  background: #78ab36;
  /*background: rgba(120, 171, 54, 0.8);*/
  color: #ffffff;
}

.service_teaser.inverted .service_details h2 {
  color: #ffffff;
}

/* Fontastic Icons - Custom BIOTIC icon/font set */
@charset "UTF-8";

@font-face {
  font-family: "biotic-icons";
  src:url("../fonts/biotic/biotic-icons.eot");
  src:url("../fonts/biotic/biotic-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/biotic/biotic-icons.woff") format("woff"),
    url("../fonts/biotic/biotic-icons.ttf") format("truetype"),
    url("../fonts/biotic/biotic-icons.svg#biotic-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "biotic-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "biotic-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
}

.icon-biotic-audio:before {
  content: "\61";
}
.icon-biotic-eeg:before {
  content: "\62";
}
.icon-biotic-meg:before {
  content: "\63";
}
.icon-biotic-mri:before {
  content: "\64";
}
.icon-biotic-team:before {
  content: "\65";
}
.icon-biotic-square:before {
  content: "\66";
}
